.sidebar {
  width: 18%;
  height: 100vh;
  margin-top: 0;
  border: 1.5px solid gray;
  font-size: max(1vw, 10px);
}
.sidebar-options {
  border: var(--border-style);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 20%;
  gap: 20px;
}
.sidebar-option {
  display: flex;
  gap: 12px;
  align-items: center;
  border: 1px solid rgb(185, 185, 185);
  border-right: 0;
  border-radius: 3px 0px 0px 3px;
  padding: 8px 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .sidebar-option p {
    display: none;
  }
}
